* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: white;
}

.container{
    width: 900px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.team {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc( 100% / 3);
}

p {
    margin-top: 70px;
}